.copy_right_footer {
    position: fixed;
    color: #141414;
    bottom: 0;
    width: 100%;
    background-color: #d1d1d1;
    line-height: 3;
    text-align: center;
    font-family: 'Dancing Script', cursive;
 
 }

 body{
    font-family: 'Dancing Script', cursive;
    background-color: rgb(132, 216, 255);
 }
 
 span
 {
     color: red;
     font-size: 20px;
 }	
 li img
 {
     width: 200px;
     border-radius: 20px;
 }
 .bob
 {
     background-color: rgb(2, 5, 39);
     padding: 30px;
     border-radius: 20px;
     width: 50%;
     display: inline-block;
     box-shadow: 5px 5px 18px white;
     font-size: 20px;
     color: rgb(206, 240, 255);
 }
 
 .bob3
 {
     text-align: center;
     background: #dedddd;
     border-radius: 20px;
     padding: 10px;
 }
 
 h5,h4{
     font-size: 17.5px;
 }

 .label7{
     font-size: 20px;
     color: rgb(185, 185, 185);
     background-color: rgb(122, 122, 122);
     box-shadow: 5px 5px 5px black;
     border-color: white;
     border-radius: 20px;
     border-width: 2px;
 }